{% extends 'projets/base.html' %}

{% block title %}Mon profil{% endblock %}

{% block content %}
    <div class="card p-4 shadow-lg" style="max-width: 500px; width: 100%;">
        <h2 class="text-center text-primary">Mon Profil</h2>
        <div class="text-center mb-3">
            <img src="{{ user.avatar.url }}" alt="Avatar" class="avatar">
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-success w-100">Mettre à jour</button>
            <a href="{% url 'deconnexion' %}">Se déconnecter</a>
        </form>
    </div>
{% endblock %}